# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Coverage directory
coverage

# Dependency directories
node_modules/

# Transpiled files
build/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Visual Studio Code workspace settings
.vscode